.containe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem;
}

.containe > {
    min-width: 25rem;
    max-width: 40rem;
}

img{
border-radius: 3rem;
flex: 1 1;
object-fit: cover;
height: 30rem;
width: 20rem;
margin: 1rem;
}
.detais{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    border-radius: 3rem;
    padding: 2 rem;
    color: black;
    margin-left: 1rem;
}

.detais .header{
    display: flex;
    justify-content: space-between;

}
.detais .name{
    font-size: 2rem;
    font-weight: bold;
}
.detais .favourite{
    color: red;
    font-size: 2.5rem;
}

.detais .favourite.not{
color: black;
}

/* .detais .origins{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;

} */
.detais .origins > span{
    padding: .5rem;
    font-size: 1.2rem;
    margin: .5rem .5rem .5rem 0;
    border-radius: 2rem;
    background-color: khaki;
}

.detais .cook-time{
    margin: 1rem
}

.detais .cook-time span{
    padding: 6rem 2rem .6rem 0;
    border-radius: 10;
    font-size: 1.3rem;
}
.detais .price{
    font-size: 1.8rem;
    margin: 2rem 2rem 2rem 0;
    color:indigo;
}

.detais .price::before{
    content:"Price:";
    color: goldenrod
}
.detais button{
    color: white;
    background-color:red;
    border: none;
    font-size: 1.5rem;
    border-radius: 10rem;
    outline: none;
}

.detais button:hover{
    background-color: green;
    opacity: .9;
    cursor: pointer;
}

