div{
    display: flex;
    flex-wrap: wrap;
    
}
div a{
    background-color:lightpink;
    padding: .3rem 1rem;
    margin: .2rem .15rem;
    color:crimson;
    border-radius: 10rem;
    font-weight: 600;
}